# Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a software application that allows you to store, manage, and retrieve data efficiently. It is a structured way of organizing data so that it can be easily accessed, managed, and updated. Databases can be used for a wide range of applications, such as managing customer information, storing financial data, or tracking inventory.

SQL and NoSQL are two different types of databases:

SQL (Structured Query Language) databases are relational databases that store data in tables. They use SQL as their query language to interact with the data. SQL databases are structured, and all data is organized into tables with predefined columns and rows. They enforce strict data integrity rules and provide support for complex joins and transactions. SQL databases are best suited for applications that require complex querying and analysis of structured data.

NoSQL (Not Only SQL) databases are non-relational databases that store data in a variety of formats, such as key-value, document, graph, or columnar. They do not use SQL as their query language, and the data is not structured in tables. Instead, NoSQL databases use APIs to interact with the data. NoSQL databases are highly scalable, flexible, and can handle large volumes of unstructured data. They are best suited for applications that require high scalability and fast data retrieval, such as big data and real-time analytics.

# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language, which is a set of SQL commands used to define and manage the structure of a database. DDL is used to create, modify, and delete database objects such as tables, views, indexes, and constraints.

DDL statements are used to define the schema or structure of the database and are typically executed by database administrators or developers. Some common DDL commands include CREATE TABLE, ALTER TABLE, DROP TABLE, CREATE INDEX, ALTER INDEX, and DROP INDEX.

By using DDL statements, developers can define the data types, constraints, and relationships between tables in the database. DDL helps to ensure the consistency and accuracy of the data and can improve the performance of the database by optimizing the structurea of the tables.

### 2. DROP:The DROP command is used to delete existing database objects such as tables, views, and indexes. For example, the following SQL statement drops the "customers" table that we created earlier:

DROP TABLE customers;

### 3. ALTER: The ALTER command is used to modify the structure of an existing database object such as adding or dropping columns, changing data types, or modifying constraints. For example, the following SQL statement adds a new column called "phone" to the "customers" table:
ALTER TABLE customers ADD phone VARCHAR(20);

### 4. TRUNCATE: The TRUNCATE command is used to delete all rows from a table while keeping its structure intact. For example, the following SQL statement removes all rows from the "customers" table:

TRUNCATE TABLE customers;

# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) used for manipulating data stored in a database. DML commands are used to insert, update, and delete data from database tables.

Here are examples of how each of these commands works:

1. INSERT:
The INSERT command is used to add new rows to a database table. The basic syntax for an INSERT command is as follows:

INSERT INTO table_name (column1, column2, column3, ...)
VALUES (value1, value2, value3, ...);

2. UPDATE:
The UPDATE command is used to modify existing rows in a database table. The basic syntax for an UPDATE command is as follows:

UPDATE table_name
SET column1 = value1, column2 = value2, ...
WHERE condition;

3. DELETE:
The DELETE command is used to remove rows from a database table. The basic syntax for a DELETE command is as follows:

DELETE FROM table_name WHERE condition;

# Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) used for querying data stored in a database. DQL commands are used to retrieve data from database tables. The most commonly used DQL command is the SELECT command.

Here's an example of how the SELECT command works:

Suppose we have a database table called "employees" with columns "id", "name", "department", and "salary", containing the following data:

id | name        | department   | salary
---|-------------|--------------|-------
1  | John Smith  | Sales        | 50000
2  | Jane Doe    | HR           | 60000
3  | Bob Johnson | Marketing   | 55000
4  | Alice Brown | Finance     | 70000

To retrieve all the data from the "employees" table, we could use the following SELECT command:

SELECT * FROM employees; 
(to return all the data)

id | name        | department   | salary
---|-------------|--------------|-------
1  | John Smith  | Sales        | 50000
2  | Jane Doe    | HR           | 60000
3  | Bob Johnson | Marketing   | 55000
4  | Alice Brown | Finance     | 70000

SELECT name, department FROM employees; 
(to return specific data)

name        | department
-------------|--------------
John Smith  | Sales
Jane Doe    | HR
Bob Johnson | Marketing
Alice Brown | Finance


We can use WHERE clause in SELECT statement to filter the results based on a condition. For example, to retrieve only the employees who work in the "Sales" department, we could use the following command:

SELECT * FROM employees WHERE department = 'Sales'; 

(to return data with specific conditioned)

id | name        | department   | salary
---|-------------|--------------|-------
1  | John Smith  | Sales        | 50000

# Q5. Explain Primary Key and Foreign Key.

Primary Key:
A primary key is a unique identifier for a record or row in a table that helps to distinguish it from other records. It is a column or a set of columns that uniquely identifies each row in the table. Primary keys ensure the accuracy and consistency of the data by preventing duplicate records from being created in the table. Primary keys can be used to link multiple tables together and create relationships between them. Each table can have only one primary key, and it cannot contain null or duplicate values.

Foreign Key:
A foreign key is a column or a set of columns in a table that refers to the primary key of another table. It creates a relationship between two tables and ensures the integrity of the data. It allows data to be shared between tables, and it can be used to retrieve data from multiple tables using a single query. The foreign key column in one table must match the primary key column in the other table. Foreign keys can be used to enforce referential integrity, which ensures that the data in the related tables is consistent and accurate. A table can have multiple foreign keys, and they can contain null or duplicate values.

# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

# establish a database connection
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="yourdatabase"
)

# create a cursor object
mycursor = mydb.cursor()

# execute a SELECT query
mycursor.execute("SELECT * FROM customers")

# fetch all rows of the result set
myresult = mycursor.fetchall()

# display the result set
for row in myresult:
  print(row)

In the above code, we first establish a connection to a MySQL database using the mysql.connector.connect() method, which takes the hostname, username, password, and database name as parameters.

Next, we create a cursor object using the cursor() method of the database connection object. The cursor object is used to execute SQL queries and retrieve data from the database.

We then execute a SELECT query using the execute() method of the cursor object, which takes the SQL query as a parameter. In this example, we execute a SELECT query to retrieve all rows from the "customers" table.

After executing the query, we fetch all rows of the result set using the fetchall() method of the cursor object. This returns a list of tuples, where each tuple represents a row of data from the result set.

Finally, we loop through the result set and display each row using the print() function.

The cursor() and execute() methods are two of the most commonly used methods in the mysql.connector library. The cursor() method creates a cursor object that is used to execute SQL queries and retrieve data from the database. The execute() method is used to execute SQL queries and takes the SQL query as a parameter. The execute() method can be used to execute any SQL query, including SELECT, INSERT, UPDATE, and DELETE queries. The result of the query execution can then be retrieved using methods like fetchall() or fetchone() on the cursor object.

# Q7. Give the order of execution of SQL clauses in an SQL query.

The order of execution for an SQL query is: 
FROM,
WHERE, 
GROUP BY,
HAVING, 
SELECT, 
ORDER BY, 
and LIMIT/OFFSET. 

The FROM clause comes first and retrieves data from the specified tables, followed by WHERE to filter the data. GROUP BY groups the data, HAVING filters the groups, and SELECT selects the columns to include in the result. ORDER BY sorts the result, and LIMIT/OFFSET limits the number of rows returned. The execution order may vary depending on the specific query and database management system.